@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
        <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
        <script src="~/Areas/Mms/ViewModels/mms.viewModel.edit.js"></script>
        <script type="text/javascript">
            var viewModel = function (data) {
                var self = this;
                mms.viewModel.edit.apply(this, arguments);
            };
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            ko.bindingViewModel(new viewModel(data));
        </script>
}

    <div class="z-toolbar">
        <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:saveClick,linkbuttonDisable:readonly" title="保存">保存</a>
        <a id="a_undo" href="#" plain="true" class="easyui-linkbutton" icon="icon-undo" data-bind="click:rejectClick,linkbuttonDisable:readonly" title="撤消">撤消</a>
        <a id="a_audit" href="#" plain="true" class="easyui-linkbutton" icon="icon-user-accept" data-bind="click:auditClick,easyuiLinkbutton:approveButton"  title="审核">审核</a>
        <a id="a_printer" href="#" plain="true" class="easyui-linkbutton" icon="icon-printer" title="打印" data-bind="click:printClick">打印</a>
        <div class="datagrid-btn-separator"></div>
        <a id="a_other" href="#" class="easyui-splitbutton" data-options="menu:'#divother',iconCls:'icon-application_go'" title="其他">其他</a>
        <div class="datagrid-btn-separator"></div>
        <a id="a_first" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_first" data-bind="click:firstClick,linkbuttonEnable:scrollKeys.firstEnable" title="第一条"></a> 
        <a id="a_previous" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_previous" data-bind="click:previousClick,linkbuttonEnable:scrollKeys.previousEnable" title="上一条"></a> 
        <a id="a_next" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_next" data-bind="click:nextClick,linkbuttonEnable:scrollKeys.nextEnable" title="下一条"></a> 
        <a id="a_last" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_last" data-bind="click:lastClick,linkbuttonEnable:scrollKeys.lastEnable" title="最后一条"></a> 
    </div>

 

    <div id="master" class="container_12" data-bind="inputwidth:0.9">
        <div class="grid_1 lbl">信息编号</div>
        <div class="grid_3 val"><input type="text" id="BillNo" name="BillNo"  data-bind="value:form.BillNo,readOnly:true" class="z-txt readonly"/></div>
        <div class="grid_1 lbl">所在道路名称</div>
        <div class="grid_3 val"><input type="text" id="Address" name="Address" data-bind="value:form.Address" class="z-txt " /></div>
        <div class="grid_1 lbl">所在区域</div>
        <div class="grid_3 val "><input type="text" data-bind="comboboxValue:form.AdministrativeArea,datasource:dataSource.AdministrativeArea,comboboxReadOnly:readonly" class="z-txt easyui-combobox" /></div>
        
        <div class="clear"></div>

        <div class="grid_1 lbl">管渠类别</div>
        <div class="grid_3 val"><input type="text" data-bind="comboboxValue:form.Category,datasource:dataSource.Category,comboboxReadOnly:readonly" class="z-txt easyui-combobox" /></div>
        <div class="grid_1 lbl">压力类型</div>
        <div class="grid_3 val"><input type="text" data-bind="comboboxValue:form.PressureType,datasource:dataSource.PressureType,comboboxReadOnly:readonly" class="z-txt easyui-combobox" /></div>
        <div class="grid_1 lbl">管渠材质</div>
        <div class="grid_3 val"><input type="text" data-bind="comboboxValue:form.Material,datasource:dataSource.Material,comboboxReadOnly:readonly" class="z-txt easyui-combobox" /></div>

        <div class="clear"></div>

        <div class="grid_1 lbl ">管渠标识码</div>
        <div class="grid_3 val"><input type="text" id="IdentificationCode" name="IdentificationCode" data-bind="value:form.IdentificationCode" class="z-txt" /></div>
        <div class="grid_1 lbl">起止点</div>
        <div class="grid_3 val"><input type="text" id="Start_stopPoint" name="Start_stopPoint" data-bind="value:form.Start_stopPoint" class="z-txt" /></div>
        <div class="grid_1 lbl">管渠长度(米)</div>
        <div class="grid_3 val "><input type="text" id="Length" name="Length" data-bind="value:form.Length" class="z-txt" /></div>
       
        <div class="clear"></div>


        <div class="grid_1 lbl">起点编码</div>
        <div class="grid_3 val"><input type="text" id="StartCode" name="StartCode" data-bind="value:form.StartCode" class="z-txt" /></div>
        <div class="grid_1 lbl">终点编码</div>
        <div class="grid_3 val"><input type="text" id="StopCode" name="StopCode" data-bind="value:form.StopCode" class="z-txt" /></div>
        <div class="grid_1 lbl">起点管底标高(米)</div>
        <div class="grid_3 val "><input type="text" id="StartElevation" name="StartElevation" data-bind="value:form.StartElevation" class="z-txt" /></div>

        <div class="clear"></div>


        <div class="grid_1 lbl">终点管底标高(米)</div>
        <div class="grid_3 val"><input type="text" id="StopElevation" name="StopElevation" data-bind="value:form.StopElevation" class="z-txt" /></div>
        <div class="grid_1 lbl">管径</div>
        <div class="grid_3 val"><input type="text" id="Diameter" name="Diameter" data-bind="value:form.Diameter" class="z-txt" /></div>
        <div class="grid_1 lbl ">管道坡度</div>
        <div class="grid_3 val"><input type="text" id="Slope" name="Slope" data-bind="value:form.Slope" class="z-txt" /></div>

        <div class="clear"></div>

        <div class="grid_1 lbl">设施状态</div>
        <div class="grid_3 val"><input type="text" data-bind="comboboxValue:form.FacilityStatus,datasource:dataSource.FacilityStatus,comboboxReadOnly:readonly" class="z-txt easyui-combobox" /></div>
        <div class="grid_1 lbl">类型</div>
        <div class="grid_3 val"><input type="text" data-bind="comboboxValue:form.Type,datasource:dataSource.Type,comboboxReadOnly:readonly" class="z-txt easyui-combobox" /></div>
        <div class="grid_1 lbl">权属单位</div>
        <div class="grid_3 val"><input type="text" id="OwnershipUnit" name="OwnershipUnit" data-bind="value:form.OwnershipUnit" class="z-txt" /></div>
        @*<div class="clear"></div>*@
        @*<div class="grid_1 lbl">设施状态</div>
        <div class="grid_3 val"><input type="text" data-bind="comboboxValue:form.FacilityStatus,datasource:dataSource.FacilityStatus,comboboxReadOnly:readonly" class="z-txt easyui-combobox" /></div>*@
        @*<div class="grid_1 lbl">经度</div>
        <div class="grid_3 val"><input type="text" id="Y" name="Y" data-bind="value:form.Y" class="z-txt" /></div>
        <div class="grid_1 lbl">纬度</div>
        <div class="grid_3 val "><input type="text" id="X" name="X" data-bind="value:form.X" class="z-txt" /></div>*@

        <div class="clear"></div>
   
